block footer
    +footer
        if globals.footer
            each menu in globals.footer
                +list 
                    a(href=menu.link )
                        p #{menu.name}
                    for sub in menu.sub
                        li
                            a(href=sub.link ) #{sub.name}
                

script(src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous")
script(src='https://cdn.rawgit.com/InventPartners/flex-responsive-burger-menu/master/js/nav.min.js')
script(src=data.paths+'../js/main.js')
if data.jsLinks
    each link in data.jsLinks
        script(src=link)