include ../mixins/mixins.pug

doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        if data.title
            title= data.title
        meta(name="viewport" content="width=device-width, user-scalable=yes")
        block head
        block style
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet")
        if data.styles
            each style in data.styles
                link(href=style rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous")
        if data.jsLinks
            each link in data.jsLinks
                script(src=link)
            #{link}
    body
        +content
            +logo('../assets/logo.png')
            +links('space')
                if data.links
                    each link in data.links
                        +link('head')(href=link.link id=link.name.toLowerCase()) #{link.name}
            block content