include ../mixins/mixins.pug

doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        if data.meta.title
            title= data.meta.title
        meta(name="viewport" content="width=device-width, user-scalable=yes")
        +favicon('../assets/favicon.ico')
        block style
        if data.meta.keywords
            meta(name="keywords" content=data.meta.keywords)
        link(href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet")
        link(href="https://cdn.rawgit.com/InventPartners/flex-responsive-burger-menu/master/css/nav.min.css" rel="stylesheet")
        link(href=data.paths+'../scss/main.scss' rel="stylesheet")
        if data.styles
            each style in data.styles
                link(href=style rel="stylesheet")
    body
        +page
            +header
                button#inv-nav-main-btn.hamburger.right(type='button')
                    span.hamburger-box
                        span.hamburger-inner
                +logo('../assets/logo.png')
                +links('space')
                    if globals.links 
                        each link in globals.links
                            +menu-link('head')(id=link.name.toLowerCase())
                                a(href=link.link ) #{link.name}
                                if link.sublinks
                                    ul
                                        each slink in link.sublinks
                                            li(class='sublink')
                                                a(href=slink.link) #{slink.name}
            block content