extends _layout.pug

block content
  .webPath
    each link in map.links
      a(href=link) #{link}
  +content
    +flex('1')(style='justify-content: center;')
      img(src='2018_FIFA_World_Cup.svg')
    +row('around')
      each group in remoteData.groups
        +flex('2','shadow','centered')(style='flex-wrap: wrap;')
          h1(style='margin-left: 0.7rem;') #{group.name}
          each team in group.teams
            +flex('line')
              h2 #{team.name}
                p #{team.code}


